<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              type="text/css"
              href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {{>sidebar}}
                    <div class="col-sm-10">{{{ body }}}</div>
                </div>
            </div>
        </div>
    </body>
    {{> footer}}
    <script src="/javascripts/bootstrap.min.js"</script>
</html>
